* {
    box-sizing: border-box;
    margin: 0;
}

.nametext {
    color: red;
    font-size: 8vw;
    font-family: Helvetica;
    padding-left: 5px;
}

.buttontext {
    color: red;
    font-family: Helvetica;
    cursor: pointer;
}

.buttontext:hover {
    color: rgba(255, 0, 0, 0.5);
}

.groupingtext {
    color: red;
    font-family: Helvetica;
}

.secrettext {
    color: rgb(245, 245, 245);
    font-family: Helvetica;
    padding-right: 5px;
}

.projecttitle {
    color: black;
    font-family: Helvetica;
    font-weight: bold;
    max-width: 600px;
}

.bodytext {
    color: black;
    font-family: Helvetica;
    max-width: 600px;

    line-height: 1.125em;
}




.headerspace {
    height: 125px;
    width: 100%;
    border-bottom: 1px solid black;
}

.bigtextbox {
    width: calc(100% - 100px);
}

.buttonbox {
    height: 125px;
    width: 100px;

    position: absolute;
    right: 0;
    top:0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: space-evenly;
}




.landingimage {
    max-width: 100%;
}

.landingtext {
    width: 50%;
    background: white;
    text-align: right;
}

.firstimage {
    width: 67%;

    /* background: orange; */
    overflow: hidden;
}

.firsttext {
    width: 33%;
    background: white;
    padding: 20px;
}




.grouping {
    width: 100%;
    height: 40px; 
    background: white;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;

    position: sticky;
    top: 0;
}

.project {
    height: 500px;
    width: 100%;
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
}

.text {
    width: 33%;
    border-right: 1px solid black;
    background: white;
    padding: 20px;
}

.image {
    width: 67%;
    background: white;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 15px;

    overflow-x: scroll;
}

.projectimage {
    max-height: 100%;
}




a:link {
    color: red;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover {
    color: rgba(255, 0, 0, 0.5);
  }
  
  a:active {
    color: red;
  }




  @media screen and (max-width:1000px) {

.project {
    flex-direction: column;
}

.firsttext {
    width: 100vw;
}

.text {
    width: 100vw;
}

.firstimage {
    width: 100vw;
}

.image {
    width: 100vw;
}

.bodytext {
    max-width: 100vw;
    font-size: .90em;
}

.projecttitle {
    font-size: .90em;
}

.groupingtext {
    font-size: .90em;
}

.buttontext {
    font-size: .90em;
}

  }